@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/*global reset*/
* {
    padding: 0;
    margin: 0;
}

/*fix up for older browsers to draw the new semantic elements*/

header,
nav,
main,
aside,
article,
section,
footer,
figure,
figcaption {
    display: block;
}

html {
    font-size: 10px;
    font-family: Roboto, 'Open Sans', sans-serif;
    scroll-behavior: smooth;

}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(images/pokemonball.jpg);
}

.sidebar {
height: 100%;
width: 0;
position: fixed;
top: 0;
right: 0;
background-color: rgb(55, 47, 150);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
    
}

.sidebar div {
padding: 8px 8px 8px 30px;
font-size: 24px;
display: block;
transition: 0.5s;
cursor: default;
text-align: left;
    max-width: 340px;
    
}

.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
    color: white;
    cursor: pointer;
}

.openbtn {
font-size: 24px;
cursor: pointer;
    background-color: transparent;
    border: transparent;
   
    
}

.openbtn:hover{
    background-color: rgb(55, 47, 150);
}

#main {
transition: margin-left .5s;
}


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;


}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}


.text-box {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row{
    display: flex;
    align-items: center;
    
}


.midrow{
   min-height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    flex-direction: row;
    
    
}

.overlay {
  position: absolute;
    opacity: 0.5;
  transition: .2s ease;
  background-color:blue;
}

.flow:hover .overlay {
  opacity: 1;
}

.flow{
        display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.flow img{
    max-width: 350px;
    
}



/*text styling*/
p {
    max-width: 500px;
    margin: auto;
    color: #ffffff;
    font-size: 2rem;
}

h1 {
    font-weight: bold;
    color: #ffffff;
    font-size: 7rem;
    line-height: 1em;
    text-align: center;
    justify-content: center;
    max-width: 700px;
}

h2{
    font-weight: lighter;
        font-size: 4rem;
    justify-content: center;
    color: white;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*images and videos*/
img {
    max-width: 100%;
    display: block;
    align-self: center;
    height: auto;
    object-fit: cover;
}

video {
    width: 100%;
    height: auto;
}



/*---------------------------*/

/*----- MEDIA QUERY - -------*/

/*--- for larger screens----*/

@media only screen and (min-width:720px) {

    img {
        max-width: 960px;
    }

}

/*-------------------------------------*/
/*smaller screens*/

@media screen and (max-width: 990px) {
    

    h1 {
        font-size: 7rem;
    }

    .text-box{
        flex-wrap: wrap;
    }
    
    .midrow{
        flex-wrap: wrap;
    }
    
    .flow{
        flex-wrap: wrap;
    }
}
