@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@1,600&display=swap');

/*global reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fix up for older browsers to draw the new semantic elements*/

header,
nav,
main,
aside,
article,
section,
footer,
figure,
figcaption {
    display: block;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

}

li {
    list-style: none;
    transition: all 0.4s;

}

li:hover {
    transform: scale(1.1);
}

.text-box {
    margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/*text styling*/
p {
    max-width: 700px;
    margin: auto;
    color: #d9d9d9;
    font-size: 2rem;
    line-height: 2;
}

h1 {
    font-weight: bold;
    font-family: 'Rokkitt';
    color: #eaeaea;
    font-size: 7rem;

    text-align: center;
    justify-content: center;
    max-width: 700px;
    line-height: 80px;

}

h2 {
    font-weight: lighter;
    font-family: 'Rokkitt';
    font-size: 4rem;
    justify-content: center;
    letter-spacing: 2px;
    color: white;
}

h3 {
    font-size: 40px;
    color: #eaeaea;
    font-weight: lighter;
    font-family: 'Rokkitt';
    justify-content: center;
    line-height: 80px;

}

.assets {
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 12%;
}

.slide {
    width: 100vw;
    height: 100vh;

}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 670vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-color: #003a70;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}



.nwrap {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;

    width: 100%;
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;

}

.overlay {

    z-index: 4;
    position: fixed;
    background: transparent;
    transform: translateY(300px);
    padding-left: 20px;



}

.overlay img {
    width: 40%;
}



.loo {
    width: 100%;
    float: left;
    line-height: 100px;
    position: fixed;
}

.loo a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'Open Sans';
}


nav {
    float: left;
    line-height: 100px;
    display: flex;
    flex-direction: row;


}

nav p {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 50px;
    color: white;
    margin-top: 3%;
    width: 80%;
}


nav a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: red;
}

nav a:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(0, 42, 80);
    background: linear-gradient(185deg, rgba(0, 42, 80, 1) 0%, rgba(0, 22, 42, 1) 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;


}


.sidebar div {
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: default;
    color: black;
    text-align: left;
    max-width: 420px;


}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    margin-top: 33px;

}

.openbtn:hover {
    transform: scale(1.1);


}

#main {}

.vectoring {
    transform: translateY(100px);
}

.vectoring img {
    width: 50%;
}

.rectangle {
    position: fixed;
    height: 200px;
    width: 100%;
    background-color: #1d1919;
    text-align: center;

    transform: translateY(140px);

}

.one {
    background-color: #003a70;
}

.onehalf {
    width: 500px;
    background: #003a70;

}

.compass {
    width: 800px;
    background: #003a70;

}

.compass2 {
    max-width: 600px;
    justify-content: center;
    text-align: center;
    transform: translateY(170px);
    margin-bottom: 10px;
}


.mid-box {
    transform: translateY(200px);
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.mid-box1 {
    transform: translateY(150px);
    justify-content: center;
    text-align: center;
    padding-left: 100px;
}

.two {
    background-image: url(images/Artboard%203.png);
    background-size: cover;
    flex-direction: row;

}

.text-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(220px);

}

.gify {
    width: 30%;
}

.gify2 {
    width: 100%;
}

.casing {
    background-color: #3D5A73;
}

.text-box3 {
    transform: translateY(-290px);
}

.three {
    background-image: url(images/Artboard%202.png);
    background-size: cover;
}

.four {
    background-image: url(images/Money.png);
    background-size: cover;
}

.five {
    background-image: url(images/scanning.png);
    background-size: cover;
}

.movement {
    transform: translateX(-190px);
}

.vectorcredit a {
    font-size: 18px;

}


/*basic links*/

.vectorcredit a:link {
    color: #7895af;
    text-decoration: none;
}

.vectorcredit a:visited {
    color: #5e7991;
}

.vectorcredit p {
    font-size: 15px;
}

/*---------------------------*/

/*----- MEDIA QUERY - -------*/

/*--- for larger screens----*/

@media only screen and (min-width:1700px) {
    .vectoring {
        transform: translateY(100px);
    }

    .vectoring img {
        width: 50%;
    }
}

/*-------------------------------------*/
/*smaller screens*/

@media screen and (min-width: 1401px) {
    .vectoring img {
        width: 35%;
    }
}

@media screen and (max-width: 1400px) {
    .vectoring img {
        width: 27%;
    }
    
    .text-box2 {
    
    transform: translateY(190px);

}
    
    .compass2 {
    
    transform: translateY(140px);
    margin-bottom: 10px;
}



}
